---
import { Image } from 'astro:assets'

interface Props {
  src?: any
  alt?: string
}

const { src, alt } = Astro.props
---

<section
  class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
>
  <!-- Block to display the feature image -->
  <div class="relative mb-6 overflow-hidden rounded-xl md:mb-8">
    {
      src && alt && (
        <Image
          src={src}
          alt={alt}
          class="h-full w-full object-cover object-center"
          draggable={'false'}
          format={'avif'}
          loading={'eager'}
        />
      )
    }
  </div>
</section>
